<web-app>
    <servlet>
        <servlet-name>generalServlet</servlet-name>
        <servlet-class>com.sample.general.servlet.VersionInfoServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>generalServlet</servlet-name>
        <url-pattern>/buildwar/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>welcome</servlet-name>
        <jsp-file>/welcome.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>welcome</servlet-name>
        <url-pattern>/buildwarjsp/</url-pattern>
    </servlet-mapping>
</web-app>